// ----- TABLE OF CONTENTS ----- //

//    1.0 - Reset -
//    2.0 - Variables & Mixins -
//    3.0 - Commun -
//	  4.0 - Header
//    5.0 - Home -
//    6.0 - Content Section -

// 1.0 RESET

@import "reset";

// 2.0 VARIABLES & MIXINS

$font: Open Sans, sans-serif;
$text-menu-color: #878181;
$text-color: black;

@mixin display-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex($value) {
	-webkit-box-flex: $value;
	-moz-box-flex: $value;
	-webkit-flex: $value;
	-ms-flex: $value;
	flex: $value;
}

@mixin align-items($value){
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}

// 3.0 COMMUN

html,body{
	width: 100%;
	height: 100%;
}

.wrapper{
	padding: 0 15%;
	@media screen and (max-width: 500px){
		padding: 0 20px;
	}
}

p, h1{
	font-family: $font;
}

a{
	text-decoration: none;
	color: inherit;
}

// 4.0 HEADER

header{
	position: absolute;
	z-index: 500;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: white;
	border-bottom: 1px solid #c0c0c0;

	nav{
		@include display-flex;
		@include align-items(center);
		height: 100%;
	}

	div{
		@include flex(1);
	}

	ul{
		@include flex(2);	
		text-align: right;
	}

	li{
		display: inline-block;
		font-family: $font;
		color: $text-menu-color;
		font-size: 20px;
		margin: 0 8px;
	}

	@media screen and (max-width: 750px){

		li{
			font-size: 2.5vw;
			margin: 0 0.5vw;
		}

	}

	@media screen and (max-width: 500px){
		top: 0;
		bottom: inherit;
		height: 70px;

		ul{
			display: none;
		}

	}

}
.header-fixed{
	position: fixed;
	top: 0;
	bottom: inherit;
}

// 5.0 HOME

.home{
	position: relative;
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	background: url("../img/background.jpg") top/cover;

	&:before{
		position: absolute;
		content: "";
		background: black;
		opacity: 0.5;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	div{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		z-index: 100;		
	}

	h1{
		color: white;
		font-size: 48px;
		line-height: 120%;
	}

	span{
		display: block;
		font-size: 24px;
		line-height: 120%;
	}

	@media screen and (max-width: 750px){

		h1{
			font-size: 7vw;
		}
		span{
			font-size: 3.4vw;
		}

	}

	@media screen and (max-width: 500px){
		background: url("../img/background-mobile.jpg") top/cover;
	}
}

// 6.0 CONTENT SECTION

.content{
	padding: 80px 0;

	p{
		margin: 25px 0;
	}
}